<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AR</title>

    <link rel="stylesheet" href="/css/index.css">

    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>

</head>

<body>
<div>
    <div class="ui">
        <p>Total Latency <span id="latency">-1.00</span> ms</p>
        <button id="stop">Stop</button>
    </div><br>
    <!-- To be passed as input -->
    <video id="myVideo" autoplay muted width="300px" height="300px" class="video"></video>

    <!-- For use by Protocol -->
    <canvas id="previousCanvas" width="300px" height="300px" class="video" style="border-color: blue;" hidden></canvas>
    <canvas id="recordCanvas" width="300px" height="300px" class="video" style="border-color: red;"></canvas>
    <canvas id="remoteCanvas" width="300px" height="300px" class="video" style="border-color: green;" hidden></canvas>

    <!-- For direct access by the user -->
    <canvas id="resultCanvas" width="300px" height="300px" class="video" style="border-color: yellow;" hidden></canvas>
    <canvas id="overlayCanvas" width="300px" height="300px" class="video" style="border-color: cyan;"></canvas>
</div>
<!--
<div>
    <label for="fpsRange">FPS</label>
    <input type="range" max="60" min="5" id="fpsRange" oninput="this.nextElementSibling.value = this.value">
    <output>5</output>
</div>
-->

</body>

</html>
