<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AR</title>

    <link rel="stylesheet" href="/css/index.css">

</head>

<body>
<div>
    <video id="myVideo" autoplay muted width="256px" height="256px" class="video"></video>
    <canvas id="recordCanvas" width="256px" height="256px" class="video" style="border-color: red;"></canvas>
    <canvas id="previousCanvas" width="256px" height="256px" class="video" style="border-color: blue;" hidden></canvas>
    <canvas id="remoteCanvas" width="256px" height="256px" class="video" style="border-color: green;"></canvas>
    <canvas id="resultCanvas" width="256px" height="256px" class="video" style="border-color: yellow;"></canvas>
    <canvas id="overlayCanvas" width="256px" height="256px" class="video" style="border-color: cyan;"></canvas>
</div>
<!--
<div>
    <label for="fpsRange">FPS</label>
    <input type="range" max="60" min="5" id="fpsRange" oninput="this.nextElementSibling.value = this.value">
    <output>5</output>
</div>
-->
<br>
<div class="ui">
    <p>Total Latency <span id="latency">-1.00</span> ms</p>
    <button id="stop">Stop</button>
</div>

</body>

</html>
